---
interface Props {
  title: string;
  subtitle?: string;
  delay?: number;
}
const { title, subtitle, delay } = Astro.props;
---

{
  (title || subtitle) && (
    <div class="section-title" data-reveal="fade-up" data-delay={delay}>
      {title && <h2>{title}</h2>}
      {subtitle && <em>{subtitle}</em>}
    </div>
  )
}
