---
interface Props {
  title: string;
  subtitle?: string;
}
const { title, subtitle } = Astro.props;
---

<div class="section-title" data-aos="fade-up">
  <h2>
    {title}
    {subtitle && <em><br>{subtitle}</em>}
  </h2>
</div>
